vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Nov 2013 06:39:25 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|service/TwiSearch/php/View.php
vti_author:SR|SASAKI\\ryosuke
vti_modifiedby:SR|SASAKI\\ryosuke
vti_timecreated:TR|13 Jun 2013 05:44:26 -0000
vti_cacheddtm:TX|13 Jun 2013 05:44:26 -0000
vti_filesize:IR|5565
vti_cachedlinkinfo:VX|S|../images/main/background.jpg S|../images/table/bg_header.jpg S|../images/table/line1.gif
vti_cachedsvcrellinks:VX|NSUS|service/TwiSearch/images/main/background.jpg NSUS|service/TwiSearch/images/table/bg_header.jpg NSUS|service/TwiSearch/images/table/line1.gif
vti_nexttolasttimemodified:TR|13 Jun 2013 05:44:26 -0000
