vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Nov 2013 06:39:25 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|service/TwiSearch/php/View.php
vti_author:SR|SASAKI\\ryosuke
vti_modifiedby:SR|SASAKI\\ryosuke
vti_timecreated:TR|12 Jun 2013 19:15:28 -0000
vti_cacheddtm:TX|12 Jun 2013 19:15:28 -0000
vti_filesize:IR|386
vti_nexttolasttimemodified:TR|12 Jun 2013 19:15:28 -0000
